<form 
    [formGroup]="fg" 
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['cantidad'].value)">
    <div class="form-group">
        <label	for="nombre">Nombre</label>
        <input	type="text"	class="form-control" id="nombre" placeholde="Ingresar nombre..." 
        [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['nombre'].hasError('required')">
            Nombre requerido!
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
            Nombre invalido (max. 15 caracteres)!
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
            Nombre debe tener al menos {{minLongitud}} caracteres!
        </div>
    </div>
    <div class="form-group">
        <label	for="cantidad">Cantidad</label>
        <input	type="number" max="9999999"	class="form-control" id="imagenUrl"	placeholder="Ingresar cantidad de producto..." 
        [formControl]="fg.controls['cantidad']">
        <div *ngIf="!fg.controls['cantidad'].valid">
            Cantidad invalida!
        </div>
        <div *ngIf="fg.controls['cantidad'].hasError('required')">
            Cantidad requerida!
        </div>
    </div>
    <button	type="submit" class="btn btn-primary" *ngIf="fg.valid" id="guardar">Guardar</button>
</form>