<form class="form-signin text-center" *ngIf="!authService.getUser()">
	<div class="form-group">
		<label for="username">User: (type <em>user</em>)</label>
		<input class="form-control" name="username" id="user" #username>
	</div>
	<div class="form-group">
		<label for="password">Password: (type <em>password</em>)</label>
		<input class="form-control" type="password" name="password" id="pass" #password>
	</div>
	<a class="btn btn-lg btn-primary" id="entrar" (click)="login(username.value, password.value)">Entrar!</a>
  {{mensajeError}}
</form>
<a class="btn btn-lg btn-primary" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>
