<p>
    reservas-listado works!
  </p>
  <a class="btn btn-primary" [routerLink]="['./', 10]">Ir a detalle</a>
  <a class="btn btn-primary" [routerLink]="['/login']">Ir a login</a>

  <div *ngFor="let r of api.getAll()">
    {{r.id}} - {{r.name}}
  </div>