<div class="card-content" [@esFavorito]="compras.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
	<!--
	<div class="text-right">
		
	</div> 
	-->
	<div class="card-img">
		<img src="./../../assets/shopping-cart.png" alt="Uso no comercial. Fuente: https://www.pngegg.com/es/png-dhljn">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{compras.nombre}}</h3>
		<h4>Cantidad: {{compras.cantidad}}</h4>
		<p>Servicios</p>
		<ul>
			<li *ngFor="let s of compras.servicios">
				<span [ngSwitch]="s">
					<i *ngSwitchCase="'Descuentos'" style="color: blue;">{{s}}</i>
					<i *ngSwitchDefault>{{s}}</i>
				</span>
			</li>
		</ul>
		<div>
			<a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="compra_vote_up lista_compras_item">
				<i class="material-icons md-18" >thumb_up</i>
			</a>
			<a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="compra_vote_down lista_compras_item">
				<i class="material-icons md-18">thumb_down</i>
			</a>
			<a href="#" (click)="resetVotes()" appTrackearClick data-trackear-tags="compra_vote_reset lista_compras_item">
				<i class="material-icons md-18 cancel">cached</i>
			</a>
		</div>
		<p>Votos: {{compras.votes}}</p>
		<p><a [routerLink]="['/detalle']">Ver detalle</a></p>
		<a href="#"	class="btn-card" (click)="favorito()" appTrackearClick data-trackear-tags="compra_elegir_preferido lista_compras_item">
			Marcar favorito
		</a>
		<span *ngIf="compras.isSelected()">
			<span ngNonBindable>{{FAVORITO}}</span>
		</span>
	</div>
</div>
