<!-- Toolbar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" [routerLink]="['/home']">Marketplace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link"[routerLink]="['/home']">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/detalle']">Detalle</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/protected']">Protected</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/promociones']">Promociones</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/reservas']">Reservas</a></li>
      </ul>
    </div>
     <div style="float: right;">
        <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
        </select>
      </div>
</nav>

<div class="jumbotron text-center">
	<div class="row">
		<div class="col-md-12 text-center">
    		<h1>Marketplace</h1>
    		<p>App para hacer tus compras online</p>
		</div>
  	</div>
</div>

<div class="container content">

  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>

  <router-outlet></router-outlet>
  
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <p class="text-center fecha">Fecha: {{ time$ | async }}</p>

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-muted py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->