<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span	class="anchor"	id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Seleccionar compra</h3>
				</div>
				<div class="card-body">
					<app-form-detalle-compra (onItemAdded)="agregado($event)"></app-form-detalle-compra>
				</div>
			</div>
		</div>
	</div>
	<hr	class="mb-5">
	<div class="row row-flex">
		<app-busqueda-compra 
							*ngFor="let x of detallesApiClient.getAll(); let i=index;" 
							[compras]="x" 
							[position]="i+1" 
							(clicked)="elegido(x)"
							appEspiame
		></app-busqueda-compra> <!--Funcion que me escribe los hijos, por tanto esta es la padre-->
	</div>
	<hr	class="mb-5">
	<div class="row row-flex">
		<div class="col-md-12">
			<h5>Actividad</h5>
			<ul>
				<li *ngFor="let u of updates;">{{u}}</li>
			</ul>
		</div>
	</div>
</div>