<p>
    Aqui vemos el detalle de una compra!
    <br>
</p>
  <hr>

<!--
  <google-map width="600" height="400" [center]="position">
    <map-marker
    [position]="position"
    [label]="label"
    [title]="title">
      <p onclick="alert('Hola')">Hola Mundo!</p>
    </map-marker>
  </google-map>
-->

<mgl-map
    [style]="style"
    [zoom]="[2]"
  >
  <mgl-marker
     [lngLat]="[-75.551012, 10.421185]"
   >
     <div
       onclick="alert('Hola')"
       class="marker"
     >
	   Hola mundo!
     </div>
   </mgl-marker>
  </mgl-map>